@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You are in the client part of my project. You should register and link your user account to one of the contacts available. Then you will be able to modify the contact and skill association.</p>
</div>
